<nav class="bg-danger-subtle p-2">
    <a class="me-2" href="/">Home</a>
    <a class="me-2" href="/about">About</a>
    <a class="me-2" href="/blog">Blog</a>
    <a class="me-2" href="/contact">Contact</a>
</nav>